.who
    &-section
        h3
            color: $blue
            font-size: 2rem
            font-weight: bold
            font-family: "Lusitana", serif;

.who-modules
    .media-left 
        position: relative

        .image
            max-width: 21rem

    &--overlay
        background-image: url(/img/module-overlay-left.png)
        width: 100%
        height: 11rem
        position: absolute
        left: 0
        //transform: scaleX(-1)
        bottom: 0
        background-size: contain
        background-repeat: no-repeat
        background-position: left

.who-footer
    font-family: "Lato", sans-serif
    font-size: 1.55rem
    line-height: 2rem
    font-weight: bold
    text-transform: uppercase
    color: $orange
    padding-bottom: 0.75rem
